<div class="form-group">

  <h2>When would you like to book?</h2>

  <div class="row">
    <div class="col-lg-6">
      <datepicker date-format="dd.MM.yyyy" data-input="datepicker-trigger" data-selector="datepicker-input" date-set="{{restoreDate()}}" datepicker-append-to="datepicker-input">
        <div>
          <div class="datepicker-trigger form-icon fa fa-calendar"></div>
          <input class="col-lg-11 datepicker-input" ng-model="formData.date" ng-dirty name="date" type="text" placeholder="Select date" readonly>
        </div>
      </datepicker>
    </div>

    <div class="col-lg-6 rel-container">
      <!-- <input ng-model="time" type="text" name="some" placeholder="Select time"> -->
      <!-- <select ng-model="formData.time.value" ng-dirty ng-valid-required name="time" required> -->
      <div class="form-icon fa fa-clock-o"></div>
      <label class="dropdown no-padding col-lg-12">
        <input class="col-lg-12" ng-model="formData.time.value" ng-click="togglePicker('timePicker')" ng-dirty ng-valid-required name="time" placeholder="Select time" readonly>
      </label>
      <div class="absolute-container">
        <ul class="dropdown-menu col-lg-12" ng-show="formSetup.timePicker">
          <li ng-repeat="time in formSetup.times" ng-click="togglePicker('timePicker')" value="{{time}}">{{time}}</li>
          <!-- <option value="" ng-selected="formData.time === undefined" disabled hidden>Select time</option> -->
          <!-- <option ng-selected="formData.time === time" ng-repeat="time in formSetup.times" value="{{time}}">{{time}}</option> -->
        </ul>
      </div>
      <div class="fake-the-checkbox" ng-click="formData.time.isFlexible = !formData.time.isFlexible">
        <input ng-model="formData.time.isFlexible" ng-checked="formData.time.isFlexible" type="checkbox" name="time-flex">
        <label class="col-lg-11 checkbox">I can be flexible with time</label>
      </div>
    </div>
  </div>

  <h2>Please enter your zip code</h2>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-icon fa fa-map-marker"></div>
      <input class="col-lg-11" ng-model="formData.zip" ng-dirty ng-minlength="5" ng-maxlength="5" name="zip" type="number" placeholder="Zip code">
    </div>
  </div>
</div>

<div class="row no-padding">
  <div class="col-lg-12">
    <a class="col-lg-6 col-lg-offset-3 next-page" ui-sref="form.cleaning-details">Next</a>
  </div>
</div>
