<div class="form-group">

  <h2>How much time do you need?</h2>

  <div>
    <!-- <input ng-model="duration" type="text" name="some" placeholder="Duration in hours"> -->
    <select ng-model="duration" required>
      <option value="" disabled selected hidden>Duration in hours</option>
      <option ng-repeat="duration in formSetup.durations" value="{{duration}}">
        {{formatDuration(duration)}}
      </option>
    </select>
    <b>Our basic cleaning</b>
  </div>

  <h2>How often</h2>
  <!-- <input ng-model="frequency" type="text" placeholder="Select frequency"> -->
  <select ng-model="frequency" required>
    <option value="" disabled selected hidden>Select frequency</option>
    <option ng-repeat="frequency in formSetup.frequencies" value="{{frequency}}">{{frequency}}</option>
  </select>

</div>

<a ui-sref="form.cleaning-details" class="">Next</a>
<a ng-click="goBack()" class="">back</a>
